<table class="table table-bordered" style="color: aliceblue; width: 300px;">

      <thead>

        <tr>

               

<th  colspan="3" class="text-center" style=" width: 300px">Carro compras </th>


  </tr>
  <tr style=" width: 300px">
     <th>Producto</th>
     <th>Cantidad</th>
     <th>total</th>
  </tr>


     </thead>

    <tbody>

        {% if request.session.carro.items %}

        {%for key, value in request.session.carro.items%}

        <tr class="text-center">

           <td  style=" width: 300px"> {{value.nombre}} </td>
           <td > {{value.cantidad}} </td>
           <td>
               <a href="{% url 'carro:agregar' value.producto_id %}"  class="btn btn-sm btn-success">+</a>
               <a href="{% url 'carro:restar' value.producto_id %}"  class="btn btn-sm btn-danger">-</a> <br/>

               <span style=" width: 300px">{{value.precio}} $</span>



           </td>
           
        </tr>


        {%endfor%}

        {%else%}

        <tr>

           <td colspan="3">
            <div class="alert-danger text-center">

                    Sin Producto

            </div>  



            
           </td>

        </tr>

        {%endif%}

       
    </tbody>

     <tfoot>
        <tr>

            <td colspan="3">

                Total: ${{importe_total_carro}}

            </td>


        </tr>
        {% if request.session.carro.items %}
        <tr>
         <td colspan="3" style="text-align: center;" > 
            <a href="../pedidos" class="btn btn-success">Hacer Pedido</a>
              </td>

        </tr>
        {%endif%}

     </tfoot>

</table>